@model IEnumerable<MedicalApp.Models.Usuarios.Usuario>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Usuario Inicio de Sesión</title>
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/medical-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/medical-icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/login/css/style.css">
    <style>
        body {
            background: url("/Content/login/images/background.jpg") no-repeat center center fixed;
            background-size: cover;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    @Html.Partial("_Notifications")
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">

                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <center>
                                        <img src="~/Content/login/images/login.png" class="img-responsive" alt="" style="max-height: 100px;">
                                        <h3>Inicio de Sesión</h3>
                                    </center>
                                </div>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                <div class="form-group mt-3">
                                    <select id="EmpresaId" name="EmpresaId" class="form-control"></select>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control"  name="usuario" value="@ViewBag.usuario" autocomplete="off" required>
                                    <label class="form-control-placeholder"  for="username">Usuario o Correo</label>
                                </div>
                                <div class="form-group">
                                    <input id="password-field" type="password"  name="contrasena" class="form-control"  autocomplete="off" value="@ViewBag.contrasena" required>
                                    <label class="form-control-placeholder"  for="password">Contraseña</label>
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Iniciar</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/login/js/jquery.min.js"></script>
    <script src="~/Content/login/js/popper.js"></script>
    <script src="~/Content/login/js/bootstrap.min.js"></script>
    <script src="~/Content/login/js/main.js"></script>
    <script>
        $(document).ready(function () {

            $("#EmpresaId").empty();
            $.get("/Login/Empresa_Bind", function (data) {
                var lines = "<option value='0'> Seleccionar Empresa </option>";
                $.each(data, function (i, valor) {
                    lines += "<option value=" + valor.Value + ">" + valor.Text + "</option>";
                });
                $("#EmpresaId").html(lines);
                document.getElementById('EmpresaId').value = "1";
            });
        });
    </script>
</body>
</html>
